<h1 class="recomendados">Recomendados</h1>
    <section class="productos">
        <div class="producto">
            <div class="imagen">
                <img src="chaqueta cars.webp" alt="Chaqueta">
            </div>
            <h2>Chaqueta Rayo McQueen</h2>
            <p>32.00 €</p>
            <p>Tu peque arrasará en las carreras escolares con esta deportiva chaqueta universitaria de Disney Pixar Cars.</p>
        </div>
        <div class="producto">
            <div class="imagen">
                <img src="playera-cars.webp" alt="Camiseta">
            </div>
            <h2>Camiseta Infantil Rayo McQueen</h2>
            <p>8.80 €</p>
            <p>Los más pequeños derrocharán estilo con esta camiseta de Rayo McQueen.</p>
        </div>
        <div class="producto">
            <div class="imagen">
                <img src="botella.webp" alt="Botella">
            </div>
            <h2>Botella Acero Inoxidable</h2>
            <p>18.00 €</p>
            <p>Los corredores más jovenes podrán repostar en cualquier momento con esta botella de agua de acero inoxidable de Disney Pixar Cars.</p>
        </div>
    </section>